* {
    padding: 10px;
    margin: 0;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    height: 75px;
}

table, th, td {
    border-collapse: collapse;
    border: 5px solid black;
}

.label {
    color: red;
    padding-top: 0;
    padding-bottom: 0;
}

.black {
    background-color: black;
}